.colors
  .color.navy(data-color='#001f3f')
  .color.blue(data-color='#0074d9')
  .color.aqua(data-color='#7FDBFF')
  .color.teal(data-color='#39cccc')
  .color.olive(data-color='#3D9970')
  .color.green.selected(data-color='#2ecc40')
  .color.lime(data-color='#01ff70')
  .color.yellow(data-color='#ffdc00')
  .color.orange(data-color='#ff851b')
  .color.red(data-color='#ff4136')
  .color.maroon(data-color='#85144b')
  .color.fuchsia(data-color='#f012be')
  .color.purple(data-color='#b10dc9')
  //- .color.black(data-color='#111111')
  //- .color.gray(data-color='#aaaaaa')
  //- .color.silver(data-color='#dddddd')
  //- .color.white.selected(data-color='#ffffff')
