extends layout

block stylesheets

block content
  include partials/upload
  include partials/webcam
  .main-container
    .draw-container
    .chat-container
  footer
    button.participants
      span#numUsers 0
      | &nbsp;🤖
    button#chatToggle.disabled(disabled)
    button#webcam Take Photo
    button#download Save
    button#upload Upload
block scripts
  script(src='/dist/bundle.js')
