*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow: hidden;
}

body {
  background-color: #5bc0de;
}

button {
  border: 1px solid transparent;
  padding: 0.25rem 1rem;
  font-size: 0.6rem;
  line-height: 1;
  transition: 0.2s ease-in-out;
  user-select: none;
  outline: none;
  cursor: pointer;
}

canvas {
  cursor: url(/imgs/paintbrush.png), auto;
}

button.strokeProps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom-right-radius: 0.1rem;
}

.strokeProps span {
  border-radius: 50%;
  background-color: #000;
  cursor: pointer;
  margin: 0.1rem;
}

span#xsmall {
  min-width: 8px;
  min-height: 8px;
}

span#small {
  min-width: 12px;
  min-height: 12px;
}

span#medium {
  min-width: 17px;
  min-height: 17px;
}

span#large {
  min-width: 22px;
  min-height: 22px;
}

span:hover {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 1);
}

span.selected {
  box-shadow: 0px 0px 0px 2px rgba(249, 233, 92, 1);
}

.button-group {
  display: flex;
  flex-direction: row;
}

.button-group button {
  flex: 1;
  color: #f5f5f5;
  cursor: pointer;
  font-size: 0.7rem;
  line-height: 1.25;
  font-weight: bold;
}

button#clear {
  background-color: #d9534f;
  border-color: #d9534f;
}

.button-group button:hover {
  background-color: #c9302c;
  border-color: #c12e2a;
}

.container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  flex: 0 0 60px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.canvas-container {
  flex: 1;
}

.container canvas {
  width: 100%;
  height: 100%;
}

.colors {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.color {
  flex: 1;
  height: 100%;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.4s;
}

.color.selected {
  transform: scaleY(2);
}

.upload-container {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.upload-wrapper {
  position: relative;
  background-color: #ccc;
  padding: 2rem 3rem;
  border-radius: 0.3rem;
}

.upload-wrapper button {
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  font-size: 1.25rem;
  color: #000;
}

.hidden {
  display: none;
}
